<h1>Доходы</h1>
<div class="content-inner">
    <div class="cards-container categories-list">
    </div>
</div>

<div class="modal fade modal-confirm" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body"><p class="mb-0">Вы действительно хотите удалить категорию?<br>Связанные доходы останутся без категории.</p></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-confirm-yes" id="confirmDeleteBtn">Да, удалить</button>
                <button type="button" class="btn btn-confirm-no" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>
